/*
[0]GENERAL
[1]NAVIGATION
[2]HEADER
[3]MAIN CONTENT
[4]FOOTER
*/
/*[0]GENERAL*/
h1{
	font-family: 'Rouge Script', cursive;
}
body{
	text-align: center;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
div{
	text-align: left;
}
/*[1]NAVIGATION*/
i{
	font-size: 18px;
}
/*[2]HEADER*/
#carousel{
	min-height: 250px;
	height:380px;
	overflow: hidden;
}
/*[3] MAIN CONTENT*/
.fa-heart:hover{
	color:red;
}
.image:hover{
	display: block;
	transform:scale(1.1);
	filter:brightness(110%);
}
/*[4] FOOTER*/
li{
	padding: 1%;
	display: inline;
	list-style: none;
}
li a {
	font-size: 12px;
	color:#000;
}
li a:hover{
	color:#000;
	text-decoration: underline;
}

span,
i{
	display: block;
}
h4{
	padding-top: 10%;
	padding-bottom: 5%;
}
.invis{
	display: none;
}
.thumb{
	width: 100px;
}
td,
#thead td{
	text-align: left;
	width: 20%;
}
table{
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
}
#thead{
	background-color: #f4e8c2;
	padding: 2%;
	margin-bottom: 3%;
}
.gold{
	background-color: #f4e8c2;
}